*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background:#fff;
  padding: 20px;
  font-size: 14px;
}

h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  padding-left: 12px;
}
